<div class="card">
    <div class="card-header">
        <h4 class="card-title">Upcoming Payments in Next 3 days</h4>
        <!-- <p class="card-title-desc">Here is example of datatable.
        </p> -->
    </div>
    <div class="card-body">
        <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="tickets-table_length"><label
                        class="d-inline-flex align-items-center">Show
                        <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                            [(ngModel)]="service.pageSize" class="form-control form-control-sm mx-2">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select> entries</label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
                <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                        class="d-inline-flex align-items-center">Search:
                        <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                            aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
            </div>
            <!-- End search -->
        </div>

        <table id="datatable" class="table table-bordered dt-responsive nowrap w-100 datatables">
            <thead>
                <tr>
                    <th sortablepay="srno" (sort)="onSortPay($event)">Sr No</th>
                    <th sortablepay="TradeDate" (sort)="onSortPay($event)">Trade Date</th>
                    <th sortablepay="TradeId" (sort)="onSortPay($event)">Trade ID</th>
                    <th sortablepay="BuyerName" (sort)="onSortPay($event)">Buyer Name</th>
                    <th sortablepay="SellerName" (sort)="onSortPay($event)">Seller Name</th>
                    <th sortablepay="InvoiceAmount" (sort)="onSortPay($event)">Amount</th>
                    <th sortablepay="PaymentDueDate" (sort)="onSortPay($event)">Payment Due Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let table of tables$ | async;let i=index">
                <tr>
                    <td>
                        <ngb-highlight [result]="table.srno | number"
                            [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="table.TradeDate" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="table.TradeId" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="table.BuyerName " [term]="service.searchTerm">
                        </ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="table.SellerName" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="table.InvoiceAmount | number" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="table.PaymentDueDate "
                            [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td> <button type="button" class="btn btn-soft-primary waves-effect waves-light"
                            data-bs-toggle="tooltip" (click)="openDetails(table)" data-bs-placement="top" title="View & Accept"><i
                                class="fas fa-eye font-size-16 align-middle"></i></button></td>


                </tr>
            </tbody>
        </table>
        <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                    Showing
                    {{service.startIndex}} to
                    {{service.endIndex}} of {{service.totalRecords}}
                    entries
                </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-end pagination-rounded">
                    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page"
                        [pageSize]="service.pageSize">
                    </ngb-pagination>
                </div>
            </div>
            <!-- End Pagination -->
        </div>
    </div>

</div>