<footer id="footer">
    <div class="container">

        <div class="row py-5 my-2">
            <div class="col-md-2">
                <a href="https://metalvyapar.com/" target="_blank" class="logo pe-0 pe-lg-3">
                    <img alt="footer-logo" src="assets/images/logo-white.png" class="bottom-4" height="140">
                </a>
            </div>
            <div class="col-md-3 ufl">
                <h5 class="text-3 mb-3">USEFUL LINKS</h5>
                <ul class="list list-icons list-icons-sm">
                    <li><i class="fas fa-angle-right" style="color:#ffffff !important;"></i><a
                            href="https://metalvyapar.com/" target="_blank" class="link-hover-style-1 ms-1"> Home</a>
                    </li>
                    <li><i class="fas fa-angle-right" style="color:#ffffff !important;"
                            style="color:#ffffff !important;"></i><a href="https://metalvyapar.com/about-us.html"
                            target="_blank" class="link-hover-style-1 ms-1"> About us</a></li>
                    <li><i class="fas fa-angle-right" style="color:#ffffff !important;"
                            style="color:#ffffff !important;"></i><a href="https://metalvyapar.com/services.html"
                            target="_blank" class="link-hover-style-1 ms-1"> Services</a></li>
                    <li><i class="fas fa-angle-right" style="color:#ffffff !important;"
                            style="color:#ffffff !important;"></i><a href="https://metalvyapar.com/contactus.html"
                            target="_blank" class="link-hover-style-1 ms-1"> Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="text-3 mb-3">&nbsp;</h5>
                <ul class="list list-icons list-icons-sm">
                    <li><i class="fas fa-angle-right" style="color:#ffffff !important;"
                            style="color:#ffffff !important;"></i><a href="https://metalvyapar.com/faq.html" target="_blank"
                            class="link-hover-style-1 ms-1">
                            FAQ</a></li>
                    <li><i class="fas fa-angle-right" style="color:#ffffff !important;"></i><a
                            href="https://metalvyapar.com/privacy.html" target="_blank" class="link-hover-style-1 ms-1">
                            Privacy Policy</a></li>
                    <li><i class="fas fa-angle-right" style="color:#ffffff !important;"></i><a
                            href="https://metalvyapar.com/terms.html" target="_blank" class="link-hover-style-1 ms-1"> Terms
                            of Use</a></li>
                    <li><i class="fas fa-angle-right" style="color:#ffffff !important;"></i><a
                            href="https://metalvyapar.com/refund.html" target="_blank" class="link-hover-style-1 ms-1"> Refund
                            Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-3 mb-2">CONTACT US</h5>
                <ul class="list list-icons list-icons-lg">
                    <li class="mb-1">
                        <p class="m-0"><i class="fas fa-map-marker-alt"
                                style="color:#ffffff !important; font-size: 1.3em"></i><a
                                href="https://goo.gl/maps/gQ6KFWxLxNqtvsQY6" style="padding-left: 20px;"
                                target="_blank">K-10,
                                South City - 1, Gurugram, Haryana-122001</a></p>
                    </li>
                    <li class="mb-1">
                        <p class="m-0"><i class="fa fa-phone text-color-primary"
                                style="color:#ffffff !important;font-size: 1.3em"></i><a href="tel:+91 72177 90186"
                                style="padding-left: 15px;">+91
                                72177-90186</a></p>
                    </li>
                    <li class="mb-1">
                        <p class="m-0"><i class="far fa-envelope text-color-primary"
                                style="color:#ffffff !important;font-size: 1.3em"></i><a
                                href="mailto:contactus@metalvyapar.com"
                                style="padding-left: 15px;">contactus@metalvyapar.com</a>
                        </p>
                    </li>
                </ul>
                <div class="textwidget custom-html-widget ">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright footer-copyright-style-2">
        <div class="container py-2">
            <div class="row py-2">
                <div class="col d-flex align-items-center justify-content-center">
                    <p style="font-size: 20px; line-height: 20px; padding-left: 28px; margin: 0 0 0px !important;">
                        <a href="#" class="header-nav-features-toggle text-decoration-none" data-focus="headerSearch"
                            aria-label="Search" style="padding-right: 10px;">
                            <i class="fab fa-facebook-f header-nav-top-icon"
                                style="font-weight: 400;font-size: 20px;line-height: 20px;"></i>
                        </a>
                        <a href="#" class="header-nav-features-toggle text-decoration-none" data-focus="headerSearch"
                            aria-label="Search" style="padding-right: 10px;">
                            <i class="fab fa-instagram header-nav-top-icon"
                                style="font-weight: 400;font-size: 20px;line-height: 20px;"></i>
                        </a>
                        <a href="#" class="header-nav-features-toggle text-decoration-none" data-focus="headerSearch"
                            aria-label="Search" style="padding-right: 10px;">
                            <i class="fab fa-linkedin-in header-nav-top-icon"
                                style="font-weight: 400;font-size: 20px;line-height: 20px;"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex align-items-center justify-content-center">
                    <p style="font-size: 0.9em;line-height: 26px;
                    ">© Copyright 2023. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>