<app-header-main></app-header-main>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Register Here</h4>
                </div>
                <div class="card-body">
                    <aw-wizard [navBarLayout]="'large-empty-symbols'">
                        <aw-wizard-step stepTitle="Personal Details">
                            <ng-template awWizardStepSymbol>
                                <i class=" bx bxs-user"></i>
                            </ng-template>
                            <div class="row">
                                <form [formGroup]="validationForm">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="mb-3">
                                                <label class="form-label">Salutation</label>
                                                <select required class="form-control form-select" required
                                                    formControlName="select" placeholder="Select Salutation"
                                                    [ngClass]="{'is-invalid': f.select.touched && f.select.errors}">
                                                    <option selected value="" disabled>Select Salutation</option>
                                                    <option value="Mr">Mr.</option>
                                                    <option value="Mrs">Mrs.</option>
                                                    <option value="Ms">Ms.</option>
                                                </select>
                                                <div *ngIf="f.select.touched && f.select.errors"
                                                    class="invalid-feedback">
                                                    <span *ngIf="f.select.errors.required">This field is
                                                        required.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="mb-3">
                                                <label class="form-label">First
                                                    Name</label>
                                                <input type="text" formControlName="fname" class="form-control"
                                                    id="fname"
                                                    [ngClass]="{ 'is-invalid': f.fname.touched && f.fname.errors }"
                                                    placeholder="Enter First Name">
                                                <div *ngIf="f.fname.touched && f.fname.errors" class="invalid-feedback">
                                                    <div *ngIf="f.fname.errors.required">First name is required.
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="mb-3">
                                                <label class="form-label">Last
                                                    Name</label>
                                                <input type="text" formControlName="lname" class="form-control"
                                                    id="lname"
                                                    [ngClass]="{ 'is-invalid': f.lname.touched && f.lname.errors }"
                                                    placeholder="Enter Last Name">
                                                <div *ngIf="f.lname.touched && f.lname.errors" class="invalid-feedback">
                                                    <div *ngIf="f.lname.errors.required">Last name is required.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="mb-3">
                                                <label class="form-label">Phone Number</label>
                                                <input type="number" formControlName="contact"
                                                    [ngClass]="{ 'is-invalid': f.contact.touched && f.contact.errors }"
                                                    class="form-control" id="contact" placeholder="Enter Phone Number"
                                                    [disabled]="f.contact.invalid">
                                                <div *ngIf="f.contact.touched || f.contact.invalid || f.contact.pristine"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.contact.errors?.required">Mobile number is
                                                        required.</div>
                                                    <div *ngIf="f.contact.errors?.pattern">Please, Enter 10 digit
                                                        Mobile Number.</div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="mb-3">
                                                <label class="form-label">Email Address</label>
                                                <input type="email" formControlName="email"
                                                    [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }"
                                                    class="form-control" id="useremail" placeholder="Enter email">
                                                <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                                                    <div *ngIf="f.email.errors.required">Email is required.</div>
                                                    <div *ngIf="f.email.errors.email">Email must be a valid email
                                                        address</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="mb-3">
                                                <label class="form-label">Register As</label>
                                                <select required class="form-control form-select"
                                                    formControlName="regAs"
                                                    [ngClass]="{'is-invalid': f.regAs.touched && f.regAs.errors}">
                                                    <option selected value="" disabled>Select Role</option>
                                                    <option value="Seller">Seller</option>
                                                    <option value="Buyer">Buyer</option>
                                                </select>
                                                <div *ngIf="f.regAs.touched && f.regAs.errors" class="invalid-feedback">
                                                    <span *ngIf="f.regAs.errors.required">This field is
                                                        required.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <ul class="list-inline wizard mb-0">
                                            <li class="next list-inline-item float-end"><button type="submit"
                                                    [disabled]="f.regAs.invalid || f.lname.invalid || f.fname.invalid || f.select.invalid || f.contact.invalid || f.email.invalid"
                                                    class="btn btn-primary" awNextStep>Next</button>
                                            </li>
                                            <!-- <li class="next list-inline-item float-end" style="margin-right: 10px;">
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </li> -->

                                        </ul>
                                    </div>
                                </form>
                            </div>

                        </aw-wizard-step>

                        <aw-wizard-step stepTitle="Company Details">
                            <ng-template awWizardStepSymbol>
                                <i class="bx bx-buildings"></i>
                            </ng-template>
                            <div class="row">
                                <form [formGroup]="validationForm">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="basicpill-pancard-input1" class="form-label">Company
                                                    Name</label>
                                                <input type="text" formControlName="companyname" class="form-control"
                                                    id="companyname"
                                                    [ngClass]="{ 'is-invalid': f.companyname.touched && f.companyname.errors }"
                                                    placeholder="Enter Company Name">
                                                <div *ngIf="f.companyname.touched && f.companyname.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.companyname.errors.required">Company name is
                                                        required.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="basicpill-vatno-input1"
                                                    class="form-label">Designation</label>
                                                <input type="text" formControlName="desgination" class="form-control"
                                                    id="desgination"
                                                    [ngClass]="{ 'is-invalid': f.desgination.touched && f.desgination.errors }"
                                                    placeholder="Enter Designation">
                                                <div *ngIf="f.desgination.touched && f.desgination.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.desgination.errors.required">Designation is
                                                        required.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="basicpill-cstno-input1" class="form-label">GST
                                                    Number</label>
                                                <input type="text" formControlName="gstno" class="form-control"
                                                    id="gstno" [(ngModel)]="gstno"
                                                    [ngClass]="{ 'is-invalid': f.gstno.touched && f.gstno.errors }"
                                                    placeholder="Enter GST Number"
                                                    (ngModelChange)="gstno = $event.toUpperCase()">
                                                <div *ngIf="f.gstno.touched || f.gstno.invalid || f.gstno.pristine"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.gstno.errors?.required">GST number is required.
                                                    </div>
                                                    <div *ngIf="f.gstno.errors?.pattern">Please Enter Valid GSTIN (
                                                        Eg: 22AAAAA0000A1Z5 )</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="basicpill-cstno-input1" class="form-label">PAN</label>
                                                <input type="text" formControlName="pancard" class="form-control"
                                                    id="pancard" [(ngModel)]="pancard"
                                                    [ngClass]="{ 'is-invalid': f.pancard.touched && f.pancard.errors }"
                                                    placeholder="Enter PAN"
                                                    (ngModelChange)="pancard = $event.toUpperCase()">
                                                <div *ngIf="f.pancard.touched || f.pancard.invalid || f.pancard.pristine"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.pancard.errors?.required">PAN is required.
                                                    </div>
                                                    <div *ngIf="f.pancard.errors?.pattern">Please Enter Valid Pancard (
                                                        Eg: AAYPP1111D )</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="basicpill-phoneno-input1" class="form-label">Alternate
                                                    Number</label>
                                                <input type="number" formControlName="workphone"
                                                    [ngClass]="{ 'is-invalid': f.workphone.touched && f.workphone.errors }"
                                                    class="form-control" id="workphone"
                                                    placeholder="Enter Alternate Number">
                                                <div *ngIf="f.workphone.touched || f.workphone.invalid || f.workphone.pristine"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.workphone.errors?.required">Mobile number is
                                                        required.</div>
                                                    <div *ngIf="f.workphone.errors?.pattern">Please, Enter 10 digit
                                                        Mobile number.</div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Material Quality</label>
                                                <div class="multi_default">
                                                    <ng-select [items]="Default" [multiple]="true" bindValue="name"
                                                        bindLabel="name" (click)="selectQty(multiDefaultOption)"
                                                        formControlName="multiDefaultOption"
                                                        placeholder="Select Material Quality"
                                                        [(ngModel)]="multiDefaultOption">
                                                        <!-- <ng-template ng-optgroup-tmp let-item="item">
                                                            {{item.country || 'Unnamed group'}}
                                                        </ng-template> -->
                                                    </ng-select>
                                                </div>
                                                <!-- [ngClass]="{ 'is-invalid': f.multiDefaultOption.touched && f.multiDefaultOption.errors }"
                                                <div *ngIf="f.multiDefaultOption.touched && f.selectMaterial.errors"
                                                    class="invalid-feedback">
                                                    <span *ngIf="f.selectMaterial.errors?.required">This field is
                                                        required.</span>
                                                </div> -->
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="basicpill-phoneno-input1" class="form-label">Average
                                                    Monthly Trade (MT)</label>
                                                <input type="number" formControlName="avg_mnth_trade"
                                                    [ngClass]="{ 'is-invalid': f.avg_mnth_trade.touched && f.avg_mnth_trade.errors }"
                                                    class="form-control" id="avg_mnth_trade"
                                                    placeholder="Enter Average Monthly Trade (Approx)">
                                                <div *ngIf="f.avg_mnth_trade.touched && f.avg_mnth_trade.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.avg_mnth_trade.errors.required">Average monthly
                                                        Trade is required.
                                                    </div>
                                                    <div *ngIf="f.avg_mnth_trade.errors.min">Please enter in number.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="mb-3">
                                                <label for="basicpill-address-input" class="form-label">Address</label>
                                                <textarea id="basicpill-address-input" class="form-control" rows="2"
                                                    id="address" formControlName="address"
                                                    [ngClass]="{ 'is-invalid': f.address.touched && f.address.errors }"
                                                    placeholder="Address (Area and Street)"></textarea>
                                                <div *ngIf="f.address.touched && f.address.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.address.errors.required">Address is
                                                        required.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="mb-3">
                                                <label for="basicpill-vatno-input1" class="form-label">Enter
                                                    City/District/Town</label>
                                                <input type="text" formControlName="city" class="form-control"
                                                    id="city"
                                                    [ngClass]="{ 'is-invalid': f.city.touched && f.city.errors }"
                                                    placeholder="City/District/Town">
                                                <div *ngIf="f.city.touched && f.city.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.city.errors.required">City/District/Town is
                                                        required
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->

                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="form-group mb-3">
                                                <label for="Selct State" class="form-label">Select
                                                    State</label>
                                                <select required class="form-select" formControlName="selectState"
                                                    [(ngModel)]="selectedState" (change)="selectStateData($event)"
                                                    [ngClass]="{'is-invalid': f.selectState.touched && f.selectState.errors}">
                                                    <option value="" hidden>Select State</option>
                                                    <option *ngFor="let c of stateData">{{c.name}}</option>
                                                </select>
                                                <div *ngIf="f.selectState.touched && f.selectState.errors"
                                                    class="invalid-feedback">
                                                    <span *ngIf="f.selectState.errors.required">This field is
                                                        required.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="form-group mb-3">
                                                <label for="Selct City" class="form-label">Select
                                                    City</label>
                                                <select required class="form-select" formControlName="city"
                                                    [(ngModel)]="selectedCity" (change)="selectCityData($event)"
                                                    [ngClass]="{'is-invalid': f.city.touched && f.city.errors}">
                                                    <option value="" hidden *ngIf="cityListData.length==0">Please Select
                                                        State
                                                    </option>
                                                    <option value="" hidden *ngIf="cityListData.length>=0">Select City
                                                    </option>
                                                    <option *ngFor="let c of cityListData">{{c.city}}
                                                    </option>
                                                </select>
                                                <div *ngIf="f.city.touched && f.city.errors" class="invalid-feedback">
                                                    <span *ngIf="f.city.errors.required">This field is
                                                        required.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="mb-3">
                                                <label for="basicpill-phoneno-input1" class="form-label">Enter
                                                    Pincode</label>
                                                <input type="number" formControlName="pincode"
                                                    [ngClass]="{ 'is-invalid': f.pincode.touched && f.pincode.errors }"
                                                    class="form-control" id="pincode"
                                                    placeholder="Enter Pincode Number">
                                                <div *ngIf="f.pincode.touched || f.pincode.invalid || f.pincode.pristine"
                                                    class="invalid-feedback">
                                                    <div *ngIf="f.pincode.errors?.required">Pincode is
                                                        required.</div>
                                                    <div *ngIf="f.pincode.errors?.pattern">Please, Enter valid
                                                        PINCODE.</div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <div class="mb-3">
                                                <label for="basicpill-vatno-input1" class="form-label">Enter
                                                    Landmark</label>
                                                <input type="text" formControlName="landmark" class="form-control"
                                                    id="landmark" placeholder="Landmark (Optional)">
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-inline wizard mb-0">
                                        <li class="previous list-inline-item"><button class="btn btn-primary"
                                                awPreviousStep>Previous</button>
                                        </li>
                                        <li class="next list-inline-item float-end" type="submit"><button
                                                [disabled]="validationForm.invalid" class="btn btn-primary" awNextStep
                                                (click)="onSubmit()">Submit</button>
                                        </li>
                                    </ul>

                                </form>
                            </div>

                        </aw-wizard-step>
                    </aw-wizard>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
</div>
<app-footer-main></app-footer-main>