@media (min-width:320px) {
    .topCustom {
        margin-top: 14% !important;
    }
}

@media (min-width:481px) {
    .topCustom {
        margin-top: 12% !important;
    }
}

@media (min-width:641px) {
    .topCustom {
        margin-top: 10% !important;
    }
}

@media (min-width:961px) {
    .topCustom {
        margin-top: 7% !important;
    }
}

@media (min-width:1025px) {
    .topCustom {
        margin-top: 7% !important;
    }
}

@media (min-width:1281px) {
    .topCustom {
        margin-top: 5% !important;
    }
}