<body data-plugin-page-transition>
    <div class="body">
        <header id="header" class="header-effect-shrink"
            data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
            <div class="header-body">
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-logo">
                                    <a href="index.html">
                                        <img alt="header-logo" width="230" height="50" data-sticky-width="220"
                                            data-sticky-height="40" src="assets/images/logo-2.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="header-column justify-content-end">
                            <div class="header-row">
                                <div
                                    class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border order-2 order-lg-1">
                                    <div
                                        class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                        <nav class="collapse">
                                            <ul class="nav nav-pills" id="mainNav">
                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle active"
                                                        href="https://metalvyapar.com/" target="_blank">
                                                        Home
                                                    </a>
                                                </li>
                                                <li class="dropdown dropdown-mega">
                                                    <a class="dropdown-item dropdown-toggle"
                                                        href="https://metalvyapar.com/about-us.html" target="_blank">
                                                        About us
                                                    </a>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle"
                                                        href="https://metalvyapar.com/services.html" target="_blank">
                                                        Services
                                                    </a>
                                                </li>

                                                <li class="dropdown">
                                                    <a class="dropdown-item dropdown-toggle"
                                                        href="https://metalvyapar.com/contactus.html" target="_blank">
                                                        Contact Us
                                                    </a>
                                                </li>
                                            </ul>

                                        </nav>
                                    </div>
                                    <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse"
                                        data-bs-target=".header-nav-main nav">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                </div>
                                <div
                                    class="header-nav-features header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2 d-none d-lg-block d-md-block d-xl-block d-sm-block">
                                    <a href="https://dashboard.metalvyapar.com/#/pages/register"
                                        style="padding: 10px;" class="btn btn-primary mb-2">Register
                                        Now
                                    </a>
                                </div>
                                <div
                                    class="header-nav-features header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2">
                                    <a href="https://dashboard.metalvyapar.com/#/account/login"
                                        class="btn btn-primary mb-2" style="padding: 10px;">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>