<div class="row">

    <div class="col-lg-12" >
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Pending KYC User List</h4>
                <!-- <p class="card-title-desc">Here is example of datatable.
        </p> -->
            </div>
            <div class="card-body">
                <div class="row mb-md-2">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="tickets-table_length"><label
                                class="d-inline-flex align-items-center">Show
                                <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                                    [(ngModel)]="service.pageSize" class="form-control form-control-sm mx-2">
                                    <option [ngValue]="10">10</option>
                                    <option [ngValue]="25">25</option>
                                    <option [ngValue]="50">50</option>
                                    <option [ngValue]="100">100</option>
                                </select> entries</label></div>
                    </div>
                    <!-- Search -->
                    <div class="col-sm-12 col-md-6">
                        <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                                class="d-inline-flex align-items-center">Search:
                                <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                                    aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
                    </div>
                    <!-- End search -->
                </div>

                <table id="datatable" class="table table-bordered dt-responsive nowrap w-100 datatables"
                    style="display: block !important;overflow: auto  !important; white-space: nowrap !important;">
                    <thead>
                        <tr>
                            <th sortable="srno" (sort)="onSort($event)">SR No</th>
                            <th sortable="Name" (sort)="onSort($event)"> Name</th>
                            <th sortable="Location" (sort)="onSort($event)"> Location</th>
                            <th sortable="Address" (sort)="onSort($event)"> Address</th>
                            <th sortable="Role" (sort)="onSort($event)"> Role</th>
                            <th sortable="Quality" (sort)="onSort($event)">Quality</th>
                            <th sortable="AverageMonthQuantity" (sort)="onSort($event)">Average Monthly Quantity(MT)
                            </th>
                            <th sortable="Salutation" (sort)="onSort($event)">Salutation</th>
                            <th sortable="FirstName" (sort)="onSort($event)">First Name</th>
                            <th sortable="LastName" (sort)="onSort($event)">Last Name</th>
                            <th sortable="Designation" (sort)="onSort($event)">Designation</th>
                            <th sortable="PhoneNo" (sort)="onSort($event)">Phone Number</th>
                            <th sortable="AlternateNo" (sort)="onSort($event)">Alternate Number</th>
                            <th sortable="Email" (sort)="onSort($event)">Email id/User id</th>
                            <th sortable="Password" (sort)="onSort($event)">Password</th>
                            <th sortable="GSTNo" (sort)="onSort($event)">GST Number</th>
                            <th sortable="PANNo" (sort)="onSort($event)">PAN</th>
                            <th sortable="BankName" (sort)="onSort($event)">Bank Name</th>
                            <th sortable="AccountName" (sort)="onSort($event)">Account Name</th>
                            <th sortable="AccountNo" (sort)="onSort($event)">Account Number</th>
                            <th sortable="AccountType" (sort)="onSort($event)">Account Type</th>
                            <th sortable="IFSCCode" (sort)="onSort($event)">IFSC Code</th>
                            <th sortable="BankBranch" (sort)="onSort($event)">Bank Branch</th>
                            <th>Cancelled Cheque</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody *ngFor="let table of tables$ | async;let i=index">
                        <tr>
                            <td>
                                <ngb-highlight [result]="table.srno | number"
                                    [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.Name" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.Location" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.Address " [term]="service.searchTerm">
                                </ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.Role" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.Quality" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.AverageMonthQuantity | number "
                                    [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.Salutation " [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.FirstName " [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.LastName" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.Designation" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.PhoneNo"
                                    [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.AlternateNo"
                                    [term]="service.searchTerm"></ngb-highlight>
                            </td>

                            <td>
                                <ngb-highlight [result]="table.Email" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.Password" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.GSTNo" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.PANNo" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.BankName" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.AccountName" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.AccountNo"
                                    [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.AccountType" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.IFSCCode" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="table.BankBranch" [term]="service.searchTerm"></ngb-highlight>
                            </td>


                            <td class="text-center">
                                <img *ngIf="table.CancelCheque != null"  src="https://api.metalvyapar.com{{table.CancelCheque}}"  data-bs-toggle="modal"
                                    data-bs-target=".bs-example-modal-center"
                                    (click)="centerModal(centerDataModal,table.CancelCheque)" alt="Cancel Cheque"
                                    class="rounded avatar-lg">
                            </td>
                            <td> <button type="button" (click)="openRejectMsg(table)" class="btn btn-soft-primary waves-effect waves-light"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="View & Accept"
                                    ><i class="fas fa-eye font-size-16 align-middle"></i></button></td>


                        </tr>
                        <!-- (click)="viewCustomerDetails(table.srno)" -->
                    </tbody>
                </table>
                <div class="row justify-content-md-between align-items-md-center mt-2">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            Showing
                            {{service.startIndex}} to
                            {{service.endIndex}} of {{service.totalRecords}}
                            entries
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="col-sm-12 col-md-5">
                        <div class="text-md-right float-md-end pagination-rounded">
                            <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page"
                                [pageSize]="service.pageSize">
                            </ngb-pagination>
                        </div>
                    </div>
                    <!-- End Pagination -->
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #centerDataModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Image Viewer</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')"
            aria-hidden="true"></button>
    </div>
    <div class="modal-body">
        <link rel="stylesheet" type="text/css"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="image-viewer-container" [class.fullscreen]="fullscreen">
                        <div class="image-viewer">
                            <ngx-image-viewer #imageViewer [src]="images"
                                [(index)]="imageIndex"></ngx-image-viewer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>